{% extends 'registration/mail_base.html' %}
{% load widget_tweaks %}
{% block title %}
بازگردانی گذرواژه
{% endblock %}
{% block main %}
    {% if validlink %}
        <h4 class="card-title text-center">بازگردانی گذرواژه</h4>  
        <form class="login-form mt-4" method="post">{% csrf_token %}
        <div class="row">
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label>گذرواژه جدید <span class="text-danger">*</span></label>
                <i data-feather="user" class="fea icon-sm icons"></i>
                    {{ form.new_password1|add_class:"form-control pl-5" }}
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for error in form.new_password1.errors %}
                        <span>{{error}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> × </span>
                        </button>
                    {% endfor %}
                    </div>
                {% endif %}                
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group position-relative">
                <label>تایید گذرواژه جدید <span class="text-danger">*</span></label>
                <i data-feather="user" class="fea icon-sm icons"></i>
                    {{ form.new_password2|add_class:"form-control pl-5" }}
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for error in form.new_password2.errors %}
                        <span>{{error}}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> × </span>
                        </button>
                    {% endfor %}
                    </div>
                {% endif %}                
            </div>
        </div>
        <div class="col-lg-12 mb-0">
            <button type="submit" class="btn btn-primary btn-block">تغییر گذرواژه</button>
        </div>
        </div>
        </form>
    {% else %}
        <h4 class="card-title text-center">خطا!</h4>
        <p class="card-title text-center">لینک بازگردانی گذرواژه شما منقضی شده است لطفا برای بازگردانی گذرواژه درخواست دیگری ارسال کنید.</p>
        <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">درخواست بازگردانی گذرواژه</a>
    {% endif %}
{% endblock %}