{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block title %}{% block title-meta %}
    لیست پست ها
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-12">
<div class="card card-primary">
    <div class="card-header">
    <h3 class="card-title mb-0 float-left">افزودن پست</h3>
    </div>
    <div class="card-body">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.title|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.slug|as_crispy_field }}
          </div>
          <div class="form-group col-md-12 mb-0">
            {{ form.content|as_crispy_field }}
            <br>
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.category|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.thumbnail|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.publish|as_crispy_field }}
          </div>
          {% if user.is_superuser %}
              <div class="form-group col-md-6 mb-0">
                {{ form.author|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 mb-0">
                {{ form.status|as_crispy_field }}
              </div>
          {% else %}
              <div class="form-group col-md-6 mb-0">
                  <select name="status" class="select form-control" required="" id="id_status">
                      <option value="">---------</option>
                      <option value="d">پیش نویس</option>
                      <option value="i">ارسال برای آدمین</option>
                  </select>
              </div>
          {% endif %}
          <div class="form-group col-md-6 mb-0">
              {{ form.is_special|as_crispy_field }}
          </div>
        </div>
        <button type="submit" class="btn btn-success">ایجاد پست</button>
        {% if user.is_superuser and request.resolver_match.kwargs.pk %}
            <a href="{% url 'account:post-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف پست</a>
        {% endif %}
    </form>
</div>
{% endblock %}
